<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>受講生登録</title>
</head>
<body>
<h1>受講生登録</h1>
<form th:action="@{/registerStudent}" th:object="${studentDetail}" method="post">
 <div>
  <label from="name">名前:</label>
  <input type="text" id="name" th:field="*{student.name}" required/>
  </div>
  <div>
    <label from="frigana">ふりがな:</label>
    <input type="text" id="frigana" th:field="*{student.frigana}" required/>
  </div>
  <div>
    <label from="nickname">ニックネーム:</label>
    <input type="text" id="nickname" th:field="*{student.nickname}" required/>
  </div>
  <div>
    <label from="email">メールアドレス:</label>
    <input type="text" id="email" th:field="*{student.email}" required/>
  </div>
  <div>
    <label from="region">地域:</label>
    <input type="text" id="region" th:field="*{student.region}" required/>
  </div>
  <div>
    <label from="age">年齢:</label>
    <input type="text" id="age" th:field="*{student.age}" />
  </div>
  <div>
    <label from="gender">性別:</label>
    <input type="text" id="gender" th:field="*{student.gender}" />
  </div>
  <div>
    <label from="remark">備考:</label>
    <input type="text" id="remark" th:field="*{student.remark}" />
  </div>
  <div>
    <button type="submit">登録</button>
  </div>

</form>
</body>
</html>